body {
    font-familly: 'Century Gothic' , calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}
header {
    height: 100px;
}
footer {
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #C5C5C5;
    border-top: 2px solid #AAA;
}
nav li {
    list-style-type: none;
    float: left;
}
nav ul {
    margin: 0px;
    padding: 0px;
}
nav {
    width: 100%;
    background-color: #424558;
}
nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 20px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
}
.navbar {
    display: table;
    margin: 0;
}
.menu_forum:hover {
    border-top: 5px solid #4C8;
    background-color: rgba(64, 200, 130, 0.15);
}
.menu_ind:hover {
    border-top: 5px solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15);
}
    .menu_loi:hover {
        border-top: 5px solid #346d7a;
        background-color: rgba(0, 96, 117, 0.15);
    }
    .menu_con:hover {
        border-top: 5px solid #0070bb;
        background-color: rgba(000, 112, 192, 0.15);
    }
    .menu_exp:hover {
        border-top: 5px solid #e44d26;
        background-color: rgba(228, 77, 38, 0.15);
    }
    nav li:hover a {
        padding: 15px 30px 20px 30px;
    }
    @media screen and (max-width:780px) {
        header {
            heigth: 50px;
        }
        h1 {
            font-size: 28px;
            margin: 20px 0px 0px 0px;
        }
        nav li a {
            font-size: 12px;
            padding: 10px;
        }
        nav li:hover a {
            padding: 5px 10px 10px;
        }
    }